@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}
.btn{
    cursor: pointer;
    background-color: rgb(159, 4, 248);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}
.btn .ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
}
@keyframes ripple-effect{
    to {
        transform: scale(4);
        opacity: 0;
    }
}
