*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.loveMe .fa-heart{
    position: relative;
    color: #E2264D;
    font-size: 70px;
    transform: translate(-50%, -50%);
    animation: fadeOut 1s ease forwards;
}
@keyframes grow{
    to{
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}